[submodule "themes/pehtheme"]
	path = themes/pehtheme
	url = https://github.com/fauzanmy/pehtheme-hugo.git
[submodule "themes/papermod"]
	path = themes/papermod
	url = https://github.com/adityatelange/hugo-PaperMod.git
